<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<link rel="Stylesheet" href="/theme/css/styles.css">
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
		<link href="/rainbow/themes/zenburnesque.css" rel="stylesheet" type="text/css" media="screen">
		<title>{{.Config.Name}}</title>
	</head>
	<body>
		<div id="container">
			<header id="header">
				<a href="/"><img src="/theme/img/header.png" width="100%" alt=""></a>
			</header>

			<div id="content">
				<div id="primary">
					<div id="blogposts">
						{{with .Posts}}
						{{range .}}
						<article class="blogpost">
							<header class="blogpostHeader">
								<h1><a href="/posts/{{.Url}}">{{.Title}}</a></h1>
								<p>Posted on {{printf "%04d" .PublishDate.Year}}-{{printf "%02d" .PublishDate.Month}}-{{printf "%02d" .PublishDate.Day}}</p>
							</header>
							<div class="blogpostContent">
								{{.Body}}
							</div>
							<p class="comments"><a href="/posts/{{.Url}}#comments">{{if .Comments}}{{len .Comments}} comments{{else}}Leave a reply{{end}}</a><p>
							<footer>
								{{range .Tags}} <a href="/tags/{{.}}">{{.}}</a> {{end}}
							</footer>
						</article>
						{{end}}
						{{end}}

						<nav id="paging">
							{{if .PreviousURL}}
							<div class="previous"><a href="{{.PreviousURL}}">&larr; Older posts</a></div>
							{{end}}
							{{if .NextURL}}
							<div class="next"><a href="{{.NextURL}}">Newer posts &rarr;</a></div>
							{{end}}
						</nav>
					</div>
				</div>
				<div id="secondary">
					<div id="navigation">
						<form method="get" id="searchForm" action="/">
							<input type="text" name="search" id="search" placeholder="Search">
							<input type="submit" value="Search" class="searchSubmit">
						</form>
						<h3>More</h3>
						<ul>
							<li><a href="/archive">Archive</a></li>
							<li><a href="/tags">Tags</a></li>
							<li><a href="/rss">RSS Feed</a></li>
						</ul>
					</div>
				</div>
			</div>

			<footer id="footer">
				<p>Powered by <a href="https://bitbucket.org/ant512/gobble">Gobble</a>.</p>
			</footer>
		</div>

		<script src="/rainbow/js/rainbow.min.js"></script>
		<script src="/rainbow/js/language/c.js"></script>
		<script src="/rainbow/js/language/csharp.js"></script>
		<script src="/rainbow/js/language/css.js"></script>
		<script src="/rainbow/js/language/generic.js"></script>
		<script src="/rainbow/js/language/go.js"></script>
		<script src="/rainbow/js/language/html.js"></script>
		<script src="/rainbow/js/language/java.js"></script>
		<script src="/rainbow/js/language/javascript.js"></script>
		<script src="/rainbow/js/language/python.js"></script>
		<script src="/rainbow/js/language/shell.js"></script>
	</body>
</html>