<?xml version="1.0" encoding="iso-8859-1" ?>
<rss version="2.0">

        <channel>
                <title>{{.SiteName}}</title>
                <link>http://simianzombie.com</link>
                <description>Adventures in Coding</description>
                {{with .Posts}}
                {{range .}}
                <item>
                        <title>{{.Title}}</title>
                        <link>{{.Url}}</link>
                        <description>{{.Body}}</description>
                </item>
                {{end}}
                {{end}}
        </channel>

</rss>