<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<link rel="Stylesheet" href="/theme/css/styles.css">
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
		<link rel="stylesheet" href="/highlight/styles/monokai_gobble.css">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<script src="/highlight/highlight.pack.js"></script>
		<script>hljs.initHighlightingOnLoad();</script>
		<title>{{.Config.Name}}</title>
	</head>
	<body>
		<header id="header">
			<a href="/"><img src="/theme/img/header.png" width="100%" alt=""></a>
		</header>
		<section id="content">
			{{with .Posts}}
			{{range .}}
			<div class="item">
				<article>
					<header>
						<p>{{printf "%04d" .Metadata.Date.Year}}-{{printf "%02d" .Metadata.Date.Month}}-{{printf "%02d" .Metadata.Date.Day}}</p>
						<h1><a href="/posts/{{.Url}}">{{.Metadata.Title}}</a></h1>
					</header>
					<div class="content">
						{{.Body.HTML}}
					</div>
					<div class="comments"><a href="/posts/{{.Url}}#comments">{{if eq .NonSpamComments.Len 1}}1 comment{{else if gt .NonSpamComments.Len 0}}{{.NonSpamComments.Len}} comments{{else if .AllowsComments}}Leave a comment{{end}}</a></div>
					<footer>
						<ul>
							{{range .Metadata.Tags}}<li><a href="/tags/{{.}}">{{.}}</a></li>{{end}}
						</ul>
					</footer>
				</article>
			</div>
			{{end}}
			{{end}}
		</section>
		<nav id="paging">
			{{if .PreviousURL}}
			<div class="previous"><a href="{{.PreviousURL}}">&larr; Older posts</a></div>
			{{end}}
			{{if .NextURL}}
			<div class="next"><a href="{{.NextURL}}">Newer posts &rarr;</a></div>
			{{end}}
		</nav>
		<footer id="footer">
			<form method="get" id="searchForm" action="/">
				<input type="text" name="search" id="search" placeholder="{{.SearchPlaceholder}}">
				<input type="submit" value="Search" class="searchSubmit">
			</form>
			<nav>
				<ul>
					<li><a href="/archive">Archive</a></li>
					<li><a href="/tags">Tags</a></li>
					<li><a href="/rss">RSS Feed</a></li>
				</ul>
			</nav>
			<p>Powered by <a href="https://github.com/ant512/gobble">Gobble</a>.</p>
		</footer>
	</body>
</html>