<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<link rel="Stylesheet" href="/theme/css/styles.css">
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
		<link href="/rainbow/themes/blackboard.css" rel="stylesheet" type="text/css" media="screen">
		<title>{{.SiteName}}</title>
	</head>
	<body>
		<header id="header">
			<a href="/"><img src="/theme/img/header.png" width="100%" alt=""></a>
		</header>
		<div id="container">
			{{with .Posts}}
			{{range .}}
			<article class="blogpost">
				<header class="blogpostHeader">
					<p>{{printf "%04d" .PublishDate.Year}}-{{printf "%02d" .PublishDate.Month}}-{{printf "%02d" .PublishDate.Day}}</p>
					<h1><a href="/posts/{{.Url}}">{{.Title}}</a></h1>
				</header>
				<div class="blogpostContent">
					{{.Body}}
				</div>
				<footer class="tags">
					{{range .Tags}} <a href="/tags/{{.}}">{{.}}</a> {{end}}
				</footer>
			</article>
			{{end}}
			{{end}}

			<nav id="paging">
				{{if .PreviousURL}}
				<div class="previous"><a href="{{.PreviousURL}}">&larr; Older posts</a></div>
				{{end}}
				{{if .NextURL}}
				<div class="next"><a href="{{.NextURL}}">Newer posts &rarr;</a></div>
				{{end}}
			</nav>

			<nav id="navigation">
				<ul>
					<li><a href="/archive">Archive</a></li>
					<li><a href="/tags">Tags</a></li>
					<li><a href="/rss">RSS Feed</a></li>
				</ul>
				<form method="get" id="searchForm" action="/">
					<input type="text" name="search" id="search" placeholder="Search">
					<input type="submit" value="Search" class="searchSubmit">
				</form>
			</nav>
		</div>
		<footer id="footer">
			Powered by <a href="https://bitbucket.org/ant512/gobble">Gobble</a> and <a href="http://craig.is/making/rainbows">Rainbow</a>.
		</footer>

		<script src="/rainbow/js/rainbow.min.js"></script>
		<script src="/rainbow/js/language/c.js"></script>
		<script src="/rainbow/js/language/csharp.js"></script>
		<script src="/rainbow/js/language/css.js"></script>
		<script src="/rainbow/js/language/generic.js"></script>
		<script src="/rainbow/js/language/go.js"></script>
		<script src="/rainbow/js/language/html.js"></script>
		<script src="/rainbow/js/language/java.js"></script>
		<script src="/rainbow/js/language/javascript.js"></script>
		<script src="/rainbow/js/language/python.js"></script>
		<script src="/rainbow/js/language/shell.js"></script>
	</body>
</html>