<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<link rel="Stylesheet" href="/theme/css/styles.css">
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
		<link href="/rainbow/themes/zenburnesque.css" rel="stylesheet" type="text/css" media="screen">
		<title>{{.Config.Name}}: {{.Post.Title}}</title>
	</head>
	<body>

		<header id="header">
			<a href="/"><img src="/theme/img/header.png" width="100%" alt=""></a>
		</header>

		<section id="posts">
			{{with .Post}}
			<article>
				<div class="post">
					<header>
						<p>{{printf "%04d" .PublishDate.Year}}-{{printf "%02d" .PublishDate.Month}}-{{printf "%02d" .PublishDate.Day}}</p>
						<h1><a href="/posts/{{.Url}}">{{.Title}}</a></h1>
					</header>
					<div class="content">
						{{.Body}}
					</div>
					<footer>
						{{range .Tags}} <a href="/tags/{{.}}">{{.}}</a> {{end}}
					</footer>
				</div>
			</article>
			{{end}}

		</section>

		<section id="comments">
			<header>
				<h2>Comments</h2>
			</header>

			{{with .Post.NonSpamComments}}
			{{range .}}
			<article>
				<header>
					<h3>{{.Author}} on {{printf "%04d" .Date.Year}}-{{printf "%02d" .Date.Month}}-{{printf "%02d" .Date.Day}} at {{printf "%02d" .Date.Hour}}:{{printf "%02d" .Date.Minute}} said:</h3>
				</header>
				<div class="content">
					{{.Body}}
				</div>
			</article>
			{{end}}
			{{end}}

			{{if not .Post.AllowsComments}}
			<p>New comments are not allowed on this post.</p>
			{{else}}
			<article id="commentEditor">
				<form method="post" action="/posts/{{.Post.Url}}/comments">
					<input type="text" name="name" placeholder="name" maxlength="254" value="{{.CommentName}}">
					<p class="error">{{.CommentNameError}}</p>
					<input type="text" name="email" placeholder="email" maxlength="254" value="{{.CommentEmail}}">
					<p class="error">{{.CommentEmailError}}</p>
					<textarea name="comment" placeholder="comment" maxlength="5000">{{.CommentBody}}</textarea>
					<p class="error">{{.CommentBodyError}}</p>

					{{if .Config.RecaptchaPublicKey}}
					<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k={{.Config.RecaptchaPublicKey}}"></script>
					<noscript>
						<iframe src="http://www.google.com/recaptcha/api/noscript?k={{.Config.RecaptchaPublicKey}}" height="300" width="500" frameborder="0"></iframe><br>
						<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>
						<input type="hidden" name="recaptcha_response_field" value="manual_challenge">
					</noscript>
					<p class="error">{{.CommentRecaptchaError}}</p>
					{{end}}

					<input type="submit" value="Post Comment" class="submit">
				</form>
			</article>
			{{end}}
			
		</section>

		<footer id="footer">
			<form method="get" id="searchForm" action="/">
				<input type="text" name="search" id="search" placeholder="Search">
				<input type="submit" value="Search" class="searchSubmit">
			</form>
			<nav>
				<ul>
					<li><a href="/archive">Archive</a></li>
					<li><a href="/tags">Tags</a></li>
					<li><a href="/rss">RSS Feed</a></li>
				</ul>
			</nav>
			<p>Powered by <a href="https://github.com/ant512/gobble">Gobble</a>.</p>
		</footer>

		<script src="/rainbow/js/rainbow.min.js"></script>
		<script src="/rainbow/js/language/c.js"></script>
		<script src="/rainbow/js/language/csharp.js"></script>
		<script src="/rainbow/js/language/css.js"></script>
		<script src="/rainbow/js/language/generic.js"></script>
		<script src="/rainbow/js/language/go.js"></script>
		<script src="/rainbow/js/language/html.js"></script>
		<script src="/rainbow/js/language/java.js"></script>
		<script src="/rainbow/js/language/javascript.js"></script>
		<script src="/rainbow/js/language/python.js"></script>
		<script src="/rainbow/js/language/shell.js"></script>
	</body>
</html>