<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
		<link rel="Stylesheet" href="/theme/css/styles.css">
		<link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/rss" />
		<title>{{.SiteName}}: Tags</title>
	</head>
	<body>

		<header id="header">
			<a href="/"><img src="/theme/img/header.png" width="100%" alt=""></a>
		</header>

		<section id="posts">

			<article>
				<div class="post">
					<header>
						<h1>Tags</h1>
					</header>
					<div class="content">
						<ul id="archive">
							{{with .Tags}}
							{{range .}}
							<li><a href="/tags/{{.}}">{{.}}</a></li>
							{{end}}
							{{end}}
						</ul>
					</div>
				</div>
			</article>

		</section>

		<footer id="footer">
			<form method="get" id="searchForm" action="/">
				<input type="text" name="search" id="search" placeholder="Search">
				<input type="submit" value="Search" class="searchSubmit">
			</form>
			<nav>
				<ul>
					<li><a href="/archive">Archive</a></li>
					<li><a href="/tags">Tags</a></li>
					<li><a href="/rss">RSS Feed</a></li>
				</ul>
			</nav>
			<p>Powered by <a href="https://bitbucket.org/ant512/gobble">Gobble</a> and <a href="http://craig.is/making/rainbows">Rainbow</a>.</p>
		</footer>
	</body>
</html>