body {
	background-color: white;
	margin: 0px;
	padding: 0px;
}

body, input, textarea {
	color: #373737;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
}

a {
	color: #1982D1;
	text-decoration: none;
}

li {
	list-style: square;
}

pre {
	background: #F4F4F4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}

blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}

h1 {
	clear: both;
	color: #222;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.5em;
	padding-bottom: .3em;
	padding-top: 15px;
	margin: 0px;
}

#posts {
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
	color: #373737;
}

#posts article {
	border-bottom: 1px solid #ddd;
	margin: 0 0 1.625em;
	padding: 0 0 1.625em;
	position: relative;
	margin: auto;
	clear: both;
}

#posts article:last-child {
	border-bottom: 0px;
}

#posts article .post {
	margin: auto;
	width: 58.4%;
}

#posts article header a {
	color: black;
}

#posts article header a:hover {
	color: #1982D1;
}

#posts article .content img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

#posts article h2 {
	padding-top: 30px;
	font-size: 1.2em;
}

#posts article footer {
	text-align: center;
	padding: 20px;
	margin: auto;
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
	padding: 0px 0px 50px 0px;
}

#posts article footer a {
	font-weight: bold;
	padding: 5px;
	border: 1px solid white;
	border-radius: 10px;
	color: #bbb;
	line-height: 2.5em;

	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;

	-webkit-transition: border 200ms;
	-moz-transition: border 200ms;
	-o-transition: border 200ms;
	transition: border 200ms;
}

#posts article footer a:hover {
	border: 1px solid #e2e2e2;
	border-radius: 10px;
	background-color: #f6f6f6;

	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;

	-webkit-transition: border 200ms;
	-moz-transition: border 200ms;
	-o-transition: border 200ms;
	transition: border 200ms;
}

#header {
	margin: 0px;
	padding: 0px;
}

#posts article {
	margin-top: 1.2em;
}

#posts article header p {
	color: #888;
	clear: both;
	font-size: 0.7em;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

#posts article header h1 {
	margin-top: 1.5em;
}

#comments {
	margin: auto;
	width: 58.4%;
}

#comments header h2 {
	font-size: 1em;
}

#comments article {
	padding: 10px 20px 10px 20px;
	border: 1px solid #ddd;
	border-radius: 15px;
	margin-bottom: 20px;
	background-color: #f6f6f6;
}

#comments article header h3 {
	font-size: 0.8em;
}

#footer {
	clear: both;
	background: #333333;
	color: #666;
	font-size: 0.8em;
	line-height: 2.2em;
	padding: 4em;
	text-align: center;
	font-weight: bold;
}

#footer a {
	color: #888;

	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	-o-transition: color 200ms;
	transition: color 200ms;
}

#footer a:hover {
	color: white;

	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	-o-transition: color 200ms;
	transition: color 200ms;
}

#footer nav {
	font-size: 12px;
	clear: both;
	min-height: 55px;
}

#footer nav ul {
	display: inline;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

#footer nav li {
	list-style: none;
	display: inline;
	padding: 10px;
}

#archive {
	color: #666;
}

.archiveTime {
	padding-left: 20px;
}

#paging {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
	margin: auto;
	width: 58.4%;
}

#paging .previous {
	float: left;
}

#paging .next {
	float: right;
	text-align: right;
}

#paging a {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
}

#searchForm {
	padding-bottom: 20px;
	text-align: center;
}

#search {
	padding-left: 20px;
	background-image: url('../img/search.png');
	background-repeat: no-repeat;
	background-position: left;
}

.searchSubmit {
	display: none;
}