body {
	background-color: white;
	margin: 0px;
	padding: 0px;
}

body, input, textarea {
	color: #373737;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
}

a {
	color: #1982D1;
	text-decoration: none;
}

li {
	list-style: square;
}

pre {
	background: #F4F4F4;
	font: 13px "Courier 10 Pitch", Courier, monospace;
	line-height: 1.5;
	margin-bottom: 1.625em;
	overflow: auto;
	padding: 0.75em 1.625em;
}

blockquote {
	font-family: Georgia, "Bitstream Charter", serif;
	font-style: italic;
	font-weight: normal;
	margin: 0 3em;
}

#header {
	padding-bottom: 10px;
}

#container {
	background-color: White;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 1.625;
	color: #373737;
}

.blogpost {
	border-bottom: 1px solid #DDD;
	margin: 0 0 1.625em;
	padding: 0 0 1.625em;
	position: relative;
	margin: auto;
	width: 100%;
	clear: both;
}

.blogpost header {
	margin: auto;
	width: 58.4%;
}

.blogpost header a {
	color: black;
}

.blogpost header a:hover {
	color: #1982D1;
}

.blogpostContent {
	margin: auto;
	width: 58.4%;
}

.blogpost img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.blogpost footer {
	margin: auto;
	width: 58.4%;
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
	padding: 0px 0px 50px 0px;
}

.blogpost footer a {
	font-weight: bold;
}

.tags {
	text-align: center;
	padding: 20px;
}

.tags a {
	padding: 5px;
	border: 1px solid white;
	border-radius: 10px;

	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;

	-webkit-transition: border 200ms;
	-moz-transition: border 200ms;
	-o-transition: border 200ms;
	transition: border 200ms;
}

.tags a:hover {
	border: 1px solid #ddd;
	border-radius: 10px;
	background-color: #f6f6f6;

	-webkit-transition: background 200ms;
	-moz-transition: background 200ms;
	-o-transition: background 200ms;
	transition: background 200ms;

	-webkit-transition: border 200ms;
	-moz-transition: border 200ms;
	-o-transition: border 200ms;
	transition: border 200ms;
}

h1 {
	clear: both;
	color: #222;
	font-size: 26px;
	font-weight: bold;
	line-height: 1.5em;
	padding-bottom: .3em;
	padding-top: 15px;
	margin: 0px;
}

.blogpostHeader p {
	color: #666;
	clear: both;
	font-size: 12px;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	text-align: right;
}

.blogpostContent h2 {
	font-size: 100%;
}

#navigation {
	font-size: 12px;
	clear: both;
	width: 50%;
	margin: auto;
}

#navigation ul {
	margin: 0px;
	padding: 10px;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}

#navigation li {
	list-style: none;
	display: inline;
	padding: 10px;
}

#navigation h3 {
	color: #666;
	font-size: 10px;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 2.6em;
	text-transform: uppercase;
	margin: 0;
	outline: 0;
	padding: 0;
}

#footer {
	clear: both;
	background: #333333;
	color: #666;
	font-size: 0.8em;
	line-height: 2.2em;
	padding: 4em;
	text-align: center;
	font-weight: bold;
}

#footer a {
	color: #888;

	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	-o-transition: color 200ms;
	transition: color 200ms;
}

#footer a:hover {
	color: white;

	-webkit-transition: color 200ms;
	-moz-transition: color 200ms;
	-o-transition: color 200ms;
	transition: color 200ms;
}

#archive {
	color: #666;
}

.archiveTime {
	padding-left: 20px;
}

#paging {
	clear: both;
	overflow: hidden;
	padding: 0 0 1.625em;
	margin: auto;
	width: 58.4%;
}

#paging .previous {
	float: left;
}

#paging .next {
	float: right;
	text-align: right;
}

#paging a {
	font-size: 12px;
	font-weight: bold;
	line-height: 2.2em;
}

#searchForm {
	padding-bottom: 20px;
	text-align: center;
}

#search {
	padding-left: 20px;
	background-image: url('../img/search.png');
	background-repeat: no-repeat;
	background-position: left;
}

.searchSubmit {
	display: none;
}